.modal-header, .modal-footer {
    background-color: #1c294c;
    color: white;
}

.modal-content {
    border: 2px solid #1c294c;
}

.modal-header .close {
    color: white;
}

.modal-title {
    color: rgb(140, 148, 164);
}
/*====================================*/

.goods-info .goods-statust {
    text-align: center;
    vertical-align: middle;
}

.goods-info-list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 30px;
}

.goods-info .goods-img {
    width: 100px;
    height: 100px;
    background-position-x:center;
    background-position-Y:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.goods-info:hover {
    background-color: #eff0f2;
}

.goods-info:hover {
    cursor: pointer;
}


/*=================================*/
.applyModalInfo p {
    font-size: 1.5rem;
    color: gray;
}

.applyModalInfo span, .applyModalInfo pre {
    font-size: 1.5rem;
    color: black;
}

#apply-goods-status {
    height: 40px;
    line-height: 35px;
    font-size: 1.8rem;
    text-align: center;
    border-top: 2px solid #1c294c;
    border-bottom: 2px solid #1c294c;
    background-color: #f5f5f5;
    color: #1c294c;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px;
    margin-top: 15px;
}

.apply-goods-info table {
    width: 100%;
    font-size: 1.5rem;
}

.apply-goods-info th {
    width: 35%;
    font-weight: normal;
    color: gray;
    padding-bottom: 4px;
}

.apply-goods-info td {
    width: 65%;
    padding-bottom: 4px;
}

.apply-goods-info #apply-goods-img {
    width: 200px;
    height: 200px;
    background-position-x:center;
    background-position-Y:center;
    background-size: contain;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-clip: content-box;
}