.info-detail #userName {
    font-size: 1.9rem;
    color: black;
}

.text-area p {
    margin-bottom: 15px;
}

.info-detail .important-text {
    color: black;
}

.can-modify-info {
    margin-top: 30px;
}

.button-area {
    margin-top: 50px;
    float: right;
}

.button-area button {
    margin-left: 30px;
}

.can-modify-info .form-group {
    margin-bottom: 25px;
}


.clear-button {
    border: 2px solid #000;
    color: #000;
    font-size: 1.2em;
    padding: 5px 10px;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    background-color: #fff;

    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.clear-button:hover {
    background: #000;
    color: #fff;
}