#add-icon {
    float: left;
    width: 40px;
    height: 40px;
}

#add-icon:hover {
    cursor: pointer;
}

.goods-area {
    margin: auto auto;
}

.goods-box {
    width: 30%;
    height: 144px;
    margin: 15px 1.5%;
    /*min-width: 150px;*/
    display: inline-flex;
    flex-wrap: wrap;
    transition-duration: 0.7s;
    position: relative;
    border: double 5px #696969;
    padding: 1px;
}
    .goods-box .request-amount {
        background-color:#449D44;
        border-radius:50%;
        width:30px;
        height:30px;
        position:absolute;
        right: 2px;
        top: 3px;
    }
        .goods-box .request-amount p {
            color:white;
            font-size:20px;
            font-family:'Corben-Regular';
            text-align:center;
        }

.goods-box:nth-child(3n+3) {
    margin-right: 0;
}


.goods-box .goods-img {
    width: 100%;
    height:100%;
    display: block;
    background-position-x:center;
    background-position-Y:center;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.give-success img {
    opacity: 0.7;
}

.goods-box:hover .modify-overlay, .goods-box:hover .check-overlay {
    height: 26%;
}

.goods-box .modify-overlay, .goods-box .check-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 50%;
    height: 0;
    border-right: 1px solid #4c4c4c;
    transition: .5s ease;
    opacity: 0.7;
}

.goods-box .check-overlay {
    left: 50%;
}

.goods-box .modify-overlay:hover, .goods-box .check-overlay:hover {
    cursor: pointer;
}

.goods-box .text {
    white-space: nowrap;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
}

.goods-box .give-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.give-overlay .text {
    padding: 8px;
    background-color: black;
}

.goods-box:hover .give-overlay {
    opacity: 1;
}

.give-overlay:hover {
    cursor: pointer;
}
/*====================================*/
.goods-info {
    display: none;
}
/*====================================*/
.manage-goods-modal span {
    font-size: 1.5rem;
    color: black;
}

.goods-modal-info {
    vertical-align: middle;
}

.goods-modal-intro {
    margin-top: 25px;
}

.manage-goods-modal label {
    font-weight: normal;
    color: black;
}

.manage-goods-modal .input-group, .manage-goods-modal .form-group {
    margin-bottom: 25px;
}


/*====================================*/
.modal-header, .modal-footer {
    background-color: #1c294c;
    color: white;
}

.modal-content {
    border: 2px solid #1c294c;
}

.modal-header .close {
    color: white;
}

.modal-title {
    color: rgb(140, 148, 164);
}
/*====================================*/

.check-goods-info {
    padding-bottom: 20px;
    border-bottom: 2px solid #334c8e;
}

.check-goods-info table {
    width: 100%;
    font-size: 1.5rem;
}

.check-goods-info th {
    width: 35%;
    font-weight: normal;
    color: gray;
    padding-bottom: 7px;
}

.check-goods-info td {
    width: 65%;
    padding-bottom: 7px;
}

.check-goods-info #check-goods-img {
    width: 200px;
    height: 200px;
    background-position-x:center;
    background-position-Y:center;
    background-size: contain;
    /*background-size: cover;*/
    background-repeat: no-repeat;
}

.check-goods-applier-info {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #334c8e;
}

.check-goods-applier-info:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.check-goods-applier-info img {
    width: 80px;
    height: 80px;
    margin-left: calc((100% - 80px)/2);
}

.check-goods-applier-name {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.check-goods-applier-status  {
    margin-top: 18px;
}

.check-goods-applier-status button {
    padding: 3px 11px;
    float: right;
}

.check-goods-applier-reject {
    margin-right: 15px;
}

.check-goods-applier-reason {
    margin: 0;
    display: block;
    height: 100px;
    overflow-y: auto;
}
/*===================*/


@media (max-width:768px) {

    .checkGoodsModalInfo #accept {
        margin-top: 20px;
        margin-left: calc((100% - 54px)/2);
    }
}

/*=============================================*/
.check-text, .modify-text {
    font-size: 1.6rem;
    display: block;
    margin: 0;
    width: 50%;
    text-align: center;
    border-top: 0;
    height: 30px;
    background-color: black;
    color: white;
    border-top: 0.1px solid white;
    line-height: 30px;
}

.modify-text {
    border-left: 0.1px solid white;
}

/*=============================================*/
.oldGoodsModalInfo p {
    font-size: 1.4rem;
    margin-bottom: 2px;
    color: gray;
}

.oldGoodsModalInfo span, .oldGoodsModalInfo pre {
    font-size: 1.5rem;
    color: black;
}

.oldGoodsModalInfo #success {
    height: 40px;
    line-height: 35px;
    font-size: 1.8rem;
    text-align: center;
    border: 1px solid gray;
    color: black;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px;
    margin-top: 15px;
}


@media (max-width: 640px) {
    .goods-box {
        width:47%
    }
}

@media (max-width: 692px) {
    .goods-box {
        height: 144px;
        margin: 15px 1%;
        /*min-width: 150px;*/
        display: inline-flex;
        flex-wrap: wrap;
        transition-duration: 0.7s;
        position: relative;
        border: double 5px #696969;
        padding: 1px;
    }

    .goods-box .goods-img {
        width: 100%;
        height:100%;
        display: block;
        background-position-x:center;
        background-position-Y:center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 320px) {
    .goods-box {
        width:97%
    }
}

.discontinued-F {
    opacity:0.5;
}