USE [master]
GO
/****** Object:  Database [GIFU]    Script Date: 2017/9/19 下午 10:01:26 ******/
CREATE DATABASE [GIFU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GIFU_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GIFU.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GIFU_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GIFU.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GIFU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GIFU]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 2017/9/19 下午 10:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[PASSWD] [varchar](100) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[SEX] [char](1) NULL,
	[BIRTHDAY] [varchar](10) NULL,
	[PHONE] [varchar](15) NULL,
	[ADDRESS] [nvarchar](300) NULL,
	[PROVIDE_COUNT] [int] NULL CONSTRAINT [DF_ACCOUNT_PROVIDE_COUNT]  DEFAULT ((0)),
	[PHOTO_TYPE] [varchar](10) NULL,
	[IS_VALID] [char](1) NULL CONSTRAINT [DF_ACCOUNT_VALID]  DEFAULT ('T'),
	[USER_TYPE] [char](1) NULL CONSTRAINT [DF_ACCOUNT_PRIVILEGE]  DEFAULT ('N'),
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CODE]    Script Date: 2017/9/19 下午 10:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CODE](
	[CODE_KIND] [char](5) NOT NULL,
	[CODE_ID] [char](2) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CODE] PRIMARY KEY CLUSTERED 
(
	[CODE_KIND] ASC,
	[CODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GOOD]    Script Date: 2017/9/19 下午 10:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GOOD](
	[GOOD_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TITLE] [nvarchar](500) NOT NULL,
	[INTRODUCTION] [nvarchar](max) NULL,
	[AMOUNT] [int] NOT NULL CONSTRAINT [DF_GOOD_AMOUNT]  DEFAULT ((1)),
	[NEW_DEGREE] [int] NULL,
	[STATUS] [char](1) NOT NULL CONSTRAINT [DF_GOOD_STATUS]  DEFAULT ('Y'),
	[TAG1] [varchar](10) NOT NULL,
	[TAG2] [varchar](10) NULL,
	[IS_REASON] [char](1) NOT NULL CONSTRAINT [DF_GOOD_IS_REASON]  DEFAULT ('N'),
	[HIT_COUNT] [int] NOT NULL CONSTRAINT [DF_GOOD_HIT_COUNT]  DEFAULT ((0)),
	[PIC_PATH] [nvarchar](500) NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_GOOD] PRIMARY KEY CLUSTERED 
(
	[GOOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GOOD_MESSAGE]    Script Date: 2017/9/19 下午 10:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GOOD_MESSAGE](
	[GOOD_ID] [int] NOT NULL,
	[COMMENT_NO] [int] NOT NULL,
	[TYPE] [char](1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[MESSAGE] [nvarchar](500) NULL,
	[TIME] [date] NOT NULL,
 CONSTRAINT [PK_GOOD_COMMENT] PRIMARY KEY CLUSTERED 
(
	[GOOD_ID] ASC,
	[COMMENT_NO] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GOOD_PICTURE]    Script Date: 2017/9/19 下午 10:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GOOD_PICTURE](
	[GOOD_ID] [int] NOT NULL,
	[PIC_NO] [int] NOT NULL,
	[PATH] [nvarchar](max) NOT NULL,
	[IS_MAIN] [char](1) NULL,
 CONSTRAINT [PK_GOOD_PICTURE] PRIMARY KEY CLUSTERED 
(
	[GOOD_ID] ASC,
	[PIC_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOTIFICATION]    Script Date: 2017/9/19 下午 10:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOTIFICATION](
	[NOTIFICATION_ID] [int] NOT NULL,
	[RECEIVE_ID] [int] NOT NULL,
	[SEND_ID] [int] NOT NULL,
	[CONTENT] [char](1) NOT NULL,
	[GOOD_ID] [int] NOT NULL,
	[URL] [varchar](500) NOT NULL,
	[TIME] [date] NOT NULL,
 CONSTRAINT [PK_NOTIFICATION] PRIMARY KEY CLUSTERED 
(
	[NOTIFICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 2017/9/19 下午 10:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDER](
	[ORDER_ID] [int] NOT NULL,
	[GOOD_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[PLACE_TIME] [date] NULL,
	[AMOUNT] [int] NULL,
	[COMMENT] [nvarchar](500) NULL,
	[STATUS] [char](1) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[TRADE_METHOD] [char](1) NOT NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GOOD_MESSAGE] ADD  CONSTRAINT [DF_GOOD_COMMENT_COMMENT_NO]  DEFAULT ((1)) FOR [COMMENT_NO]
GO
ALTER TABLE [dbo].[GOOD_MESSAGE] ADD  CONSTRAINT [DF_GOOD_COMMENT_TYPE]  DEFAULT ('Q') FOR [TYPE]
GO
ALTER TABLE [dbo].[GOOD_PICTURE] ADD  CONSTRAINT [DF_GOOD_PICTURE_PIC_NO]  DEFAULT ((1)) FOR [PIC_NO]
GO
ALTER TABLE [dbo].[ORDER] ADD  CONSTRAINT [DF_ORDER_AMOUNT]  DEFAULT ((1)) FOR [AMOUNT]
GO
ALTER TABLE [dbo].[ORDER] ADD  CONSTRAINT [DF_ORDER_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[ORDER] ADD  CONSTRAINT [DF_ORDER_TRADE_METHOD]  DEFAULT ((1)) FOR [TRADE_METHOD]
GO
USE [master]
GO
