a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

label {
    font-size: 1.4rem;
    font-weight: normal;
}

a {
    color: rgba(250, 250, 250, 1);
}

/*================================================================================================*/
.info {
    background-color: black;
    border: 2px solid black;
}

.info-area {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-detail {
    background-color: white;
    float: right;
}

#profile_pic img {
    width: 100%;
}

.info-area hr {
    border-top: 1px solid rgba(250, 250, 250, 1);
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-info p {
    margin-bottom: 10px;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #B7B4B4;
}

.main-info span { /*phone and Email*/
    color: rgba(245, 245, 245, 1);
}

.main-info .important-text {
    font-size: 1.7rem;
    color: rgba(245, 245, 245, 1);
}

.function-area li {
    font-size: 1.8rem;
    margin-bottom: 15px;
    margin-left: 35px;
    margin-right: 35px;
    border: 0;
    color: rgba(245, 245, 245, 1);
}

.function-area li:hover {
    cursor: pointer;
    border-bottom: 1px;
    border-style: solid;
    border-color: white;
    transition: border .5s ease-in-out;
}

.function-area li:hover a {
    color: white;
    transition: .5s all;
    font-size: 1.95rem;
}

.info-detail {
    padding: 30px;
    font-size: 1.4rem;
    color: rgba(100, 100, 100, 1);
    border-left: 2px solid black;
}

.page-title h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
}

.page-title {
    margin-bottom: 20px;
}

.page-title hr {
    border-top: 2px solid rgba(100, 100, 100, 1);
}

    /*======================================================================================*/


.info-detail #name {
    font-size: 1.9rem;
    color: black;
}

.text-area p {
    margin-bottom: 15px;
}

.info-detail .important-text {
    color: black;
}

.can-modify-info {
    margin-top: 30px;
}

.button-area {
    margin-top: 50px;
    float: right;
}

.button-area button {
    margin-left: 30px;
}

.can-modify-info .form-group {
    margin-bottom: 25px;
}


.clear-button {
    border: 2px solid #000;
    color: #000;
    font-size: 1.2em;
    padding: 5px 10px;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    background-color: #fff;

    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.clear-button:hover {
    background: #000;
    color: #fff;
}
