
@{
    ViewBag.Title = "Index";
}

<h2>Account Index</h2>
<p>@User.Identity.Name</p>
<form id="searchForm" action="/" method="post">
    <div class="form-horizontal">
        <h4>Books</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="BookName">書名</label>
            <div class="col-md-10">
                <input type="text" id="BookName" class="k-textbox textbox" name="BookName" placeholder="書名" />
            </div>
        </div><!--End BookName Group-->

        <div class="form-group">
            <label class="control-label col-md-2" for="BookClass">圖書類別</label>
            <div class="col-md-10">
                <input id="BookClass" name="BookClass" class="dropdown" />
            </div>
        </div><!--End BookClass Group-->

        <div class="form-group">
            <label class="control-label col-md-2" for="BookKeeper">借閱人</label>
            <div class="col-md-10">
                <input type="text" id="BookKeeper" name="BookKeeper" class="dropdown" />
            </div>
        </div><!--End BookKeeper Group-->

        <div class="form-group">
            <label class="control-label col-md-2" for="BookStatus">借閱狀態</label>
            <div class="col-md-10">
                <input type="text" id="BookStatus" name="BookStatus" class="dropdown" />
            </div>
        </div><!--End BookStatus Group-->

        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="button" id="searchBooks">查詢</button>
                <button type="button" id="clearInputs">清除</button>
                <button type="button" id="addBook">新增</button>
            </div>
        </div>

        <div id="grid"></div>
    </div>
</form>
<button type="button" id="getGoods">取得物品明細</button>
<div id="show"></div>

<script type='text/javascript'>
    $("#getGoods").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/Account/GetGoodsByConditions",
            data: { Title: "Book" },
            dataType: "json",
            success: function (response) {
                $.each(response, function (index, value) {
                    $('#show').append('<p>'+value.PicPath+'</p>');
                    $('#show').append('<img src="' + value.PicPath + '" style="width:100px;"/>');
                });
            }, error: function (error) {
                alert("系統發生錯誤");
            }
        });
    });

</script>