@{
    ViewBag.Title = "ManageGoods";
}
@section css{
    <link href="/Content/ManageGoods.css" rel="stylesheet" type="text/css" />
}
<body>
    @*<div class="container">*@
    <div class="row info">
        <!-- 左側欄位 -->
        <div class="col-md-4 info-area">
            <div class="row">
                <div id="profile_pic" class="col-md-5">
                    <img src="/images/profile_pic1.svg" alt="" />
                </div>
                <div class="col-md-7 main-info">
                    <p><span class="important-text">郭晉名</span></p>
                    <p>現有商品 <span class="important-text"> 8</span> 個</p>
                    <p>刊登次數 <span class="important-text"> 5</span> 次</p>
                    <p>聯絡電話<br><span>0918-239-342</span></p>
                    <p>電子郵件<br><span>qwer1234567890@gmail.com</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <ul class="col-md-12 function-area">
                    <li><a href="/Account/ManageInfo">個人資訊</a></li>
                    <li><a href="/Account/ManageGoods">商品管理</a></li>
                    <li><a href="/Account/ManageOrders">訂單查看</a></li>
                </ul>
            </div>
        </div>
        <!-- 左側欄位-end -->
        <!-- 右側欄位 -->
        <div class="col-md-8 info-detail">
            <div class="row">
                <div class="col-md-12 page-title">
                    <h1>商品管理</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/images/add-button.svg" id="add-icon" data-toggle="modal" data-target="#addGoodsModal" />
                </div>
            </div>
            <div class="goods-area">
                <div class="goods-box" data-toggle="modal" data-target="#goodsModal">
                    <img src="/images/profile_pic1.svg" />
                    <div class="goods-info">
                        <span>/images/profile_pic1.svg</span>
                        <span>iphoneX</span>
                        <span>八成</span>
                        <span>10</span>
                        <span>3C產品</span>
                        <span>手機</span>
                        <span>是</span>
                        <span>this is your new iphoneX.</span>
                    </div>
                </div>
                <div class="goods-box" data-toggle="modal" data-target="#goodsModal">
                    <img src="/images/1/2.jpg" />
                </div>
                <div class="goods-box" data-toggle="modal" data-target="#goodsModal">
                    <img src="/images/1/3.jpg" />
                </div>
                <div class="goods-box" data-toggle="modal" data-target="#goodsModal">
                    <img src="/images/profile_pic1.svg" />
                </div>
                <div class="goods-box" data-toggle="modal" data-target="#goodsModal">
                    <img src="/images/1/2.jpg" />
                </div>
                <div class="goods-box" data-toggle="modal" data-target="#goodsModal">
                    <img src="/images/1/3.jpg" />
                </div>
                <div class="goods-box" data-toggle="modal" data-target="#goodsModal">
                    <img src="/images/1/3.jpg" />
                </div>
                <div class="goods-box sold-out" data-toggle="modal" data-target="#goodsModal">
                    <img src="/images/profile_pic1.svg" />
                </div>
                <div class="goods-box sold-out" data-toggle="modal" data-target="#goodsModal">
                    <img src="/images/1/2.jpg" />
                </div>
                <div class="goods-box sold-out" data-toggle="modal" data-target="#goodsModal">
                    <img src="/images/1/3.jpg" />
                </div>

            </div>
            <!-- 右側欄位-end -->
        </div>
    </div>
    @*</div>*@

    <!--Modify Modal -->
    <div class="modal fade" id="goodsModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">修改商品資料</h4>
                </div>
                <div class="modal-body manage-goods-modal">
                    @*====================================*@
                    <div class="row">
                        <div class="col-md-12 goods-modal-info">
                            <div class="form-group">
                                <label for="inputImg" style="background-color:#eeeeee; margin: 0; font-size:1.5rem; color: black; padding: 6px 12px; line-height: 1; border: 1px solid #cccccc; border-bottom: 0; border-top-right-radius: 4px; border-top-left-radius: 4px;">上傳圖片: </label>
                                <input type="file" class="filestyle" style="font-size:1.5rem; padding: 5px 5px; color: black; line-height: 1; border: 1px solid #cccccc; border-radius: 4px; border-top-left-radius: 0; width: 100%;" multiple>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">商品名稱: </span>
                                <input type="text" class="form-control" name="NewDegree" placeholder="">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">新舊程度: </span>
                                <input type="text" class="form-control" name="NewDegree" placeholder="">
                                <span class="input-group-addon">成新</span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">數量: </span>
                                <input type="text" class="form-control" name="Amount" placeholder="" aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-addon">個</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group col-md-6">
                            <span class="input-group-addon">分類: </span>
                            <select class="form-control">
                                <option>3C產品</option>
                                <option>生活雜貨</option>
                                <option>男女服飾</option>
                                <option>文具書籍</option>
                                <option>電玩相關</option>
                                <option>其他</option>
                            </select>
                        </div>
                        <div class="input-group col-md-6">
                            <span class="input-group-addon">子分類: </span>
                            <select class="form-control">
                                <option>電腦</option>
                                <option>手機</option>
                                <option>相機</option>
                                <option>3C其他</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 input-group">
                            <span class="input-group-addon">索取者是否需填寫理由: </span>
                            <select class="form-control">
                                <option value="F">否</option>
                                <option value="T">是</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 input-group">
                            <label for="goods-intro" style="background-color:#eeeeee; margin: 0; font-size:1.5rem; color: black; padding: 6px 12px; line-height: 1; border: 1px solid #cccccc; border-bottom: 0; border-top-right-radius: 4px; border-top-left-radius: 4px;">介紹: </label>
                            <textarea class="form-control" style="border-bottom-left-radius: 4px; resize: none;" id="goods-intro" rows="6" placeholder="請您新增商品敘述."> </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">新增</button>
                </div>
            </div>

        </div>
    </div>


    <!-- add-Modal -->
    <div class="modal fade" id="addGoodsModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增商品資料</h4>
                </div>
                <div class="modal-body manage-goods-modal">
                    @*====================================*@
                    <form id="uploadForm">
                        <div class="row">
                            <div class="col-md-12 goods-modal-info">
                                <div class="form-group">
                                    <label for="inputImg" style="background-color:#eeeeee; margin: 0; font-size:1.5rem; color: black; padding: 6px 12px; line-height: 1; border: 1px solid #cccccc; border-bottom: 0; border-top-right-radius: 4px; border-top-left-radius: 4px;">上傳圖片: </label>
                                    <input type="file" class="filestyle" id="goods-img" name="files" style="font-size:1.5rem; padding: 5px 5px; color: black; line-height: 1; border: 1px solid #cccccc; border-radius: 4px; border-top-left-radius: 0; width: 100%;" multiple>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">商品名稱: </span>
                                    <input type="text" class="form-control" id="goods-name" name="Title" placeholder="" required>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">新舊程度: </span>
                                    <input type="number" min="1" max="10" class="form-control" id="goods-new-degree" name="NewDegree" placeholder="">
                                    <span class="input-group-addon">成新</span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">數量: </span>
                                    <input type="number" class="form-control" id="goods-amount" name="Amount" placeholder="" aria-label="Amount (to the nearest dollar)" required>
                                    <span class="input-group-addon">個</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group col-md-6">
                                <span class="input-group-addon">分類:</span>
                                <select class="form-control" id="goodsTag1" name="Tag1" required>
                                    <option value="3C">3C產品</option>
                                    <option value="GC">生活雜貨</option>
                                    <option value="CL">男女服飾</option>
                                    <option value="SN">文具書籍</option>
                                    <option value="GM">電玩相關</option>
                                    <option value="OT">其他</option>
                                </select>
                            </div>
                            <div class="input-group col-md-6">
                                <span class="input-group-addon">子分類:</span>
                                <select class="form-control" id="goodsTag2" name="Tag2" required></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 input-group">
                                <span class="input-group-addon">索取者是否需填寫理由: </span>
                                <select class="form-control" id="goods-is-reason" name="IsReason">
                                    <option value="F">否</option>
                                    <option value="T">是</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 input-group">
                                <label for="goods-intro" style="background-color:#eeeeee; margin: 0; font-size:1.5rem; color: black; padding: 6px 12px; line-height: 1; border: 1px solid #cccccc; border-bottom: 0; border-top-right-radius: 4px; border-top-left-radius: 4px;">介紹: </label>
                                <textarea class="form-control" style="border-bottom-left-radius: 4px; resize: none;" id="goods-intro" name="Introduction" rows="6" placeholder="請您輸入商品介紹."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="AddGoodsAjax()">新增</button>
                </div>
            </div>

        </div>
    </div>
</body>

<script type="text/javascript">
    var tag1 = $('#goodsTag1').val();
    $("#goodsTag1").change(function () {
        tag1 = $('#goodsTag1').val();
        if ($('#goodsTag1').val() == '3C') {
            $('#goodsTag2').prop('disabled', false);
            $('#goodsTag2').append('<option value="1">電腦</option> <option value="2">手機</option> <option value="3">相機</option> <option value="4">3C其他</option>');
        }
        else if ($('#goodsTag1').val() == 'GC') {
            $('#goodsTag2').prop('disabled', false);
            $('#goodsTag2').html('<option value="1">五金工具</option> <option value="2">食品</option> <option value="3">寵物用品</option> <option value="4">生活其他</option>');
        }
        else if ($('#goodsTag1').val() == 'CL') {
            $('#goodsTag2').prop('disabled', false);
            $('#goodsTag2').html('<option value="1">男裝</option> <option value="2">女裝</option> <option value="3">配件</option>');
        }
        else if ($('#goodsTag1').val() == 'SN') {
            $('#goodsTag2').prop('disabled', false);
            $('#goodsTag2').html('<option value="1">小說</option> <option value="2">漫畫</option> <option value="3">雜誌</option> <option value="4">其他</option>');
        }
        else if ($('#goodsTag1').val() == 'GM') {
            $('#goodsTag2').prop('disabled', false);
            $('#goodsTag2').html('<option value="1">遊戲機</option> <option value="2">遊戲光碟</option> <option value="3">電玩攻略</option> <option value="4">電玩其他</option>');
        }
        else {
            $("#goodsTag2").empty();
            $('#goodsTag2').prop('disabled', 'disabled');
        }
    });

    $("#goodsTag1").change();

    $('#uploadForm').submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            type: "POST",
            url: "/Store/AddGoodsWithMultiPicture",
            data: formData,
            dataType: "json",
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
                ShowNotify(response.result, response.message);
            }, fail: function (error) {

            }
        });
    });
</script>