USE [GIFU]
GO
/****** Object:  Trigger [dbo].[GOOD_MESSAGE_TRIGGER]    Script Date: 2017/10/12 上午 08:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[GOOD_MESSAGE_TRIGGER] ON [dbo].[GOOD_MESSAGE]
AFTER INSERT, UPDATE
AS 
BEGIN
	IF EXISTS (SELECT 1 FROM inserted)
		BEGIN
			SET NOCOUNT ON
			INSERT INTO dbo.NOTIFICATION(RECEIVE_ID, SEND_ID, CONTENT, GOOD_ID, URL, [TIME])
			SELECT CASE [TYPE]
						WHEN 'Q' THEN g.[USER_ID]
						WHEN 'A' THEN (SELECT [USER_ID] FROM dbo.GOOD_MESSAGE WHERE GOOD_ID = i.GOOD_ID AND COMMENT_NO = i.COMMENT_NO AND [TYPE] = 'Q')
				   END AS RECEIVE_ID, 
				   CASE [TYPE]
						WHEN 'Q' THEN i.[USER_ID]
						WHEN 'A' THEN g.[USER_ID]
				   END AS SEND_ID, 
				   CASE [TYPE]
						WHEN 'Q' THEN REPLACE((SELECT NAME FROM dbo.CODE WHERE CODE_KIND = 'NTI' AND CODE_ID = '4'), 'XXX', '<b>' + g.TITLE + '</b>')
						WHEN 'A' THEN REPLACE((SELECT NAME FROM dbo.CODE WHERE CODE_KIND = 'NTI' AND CODE_ID = '5'), 'XXX', '<b>' + g.TITLE + '</b>')
				   END AS CONTENT,
				   i.GOOD_ID AS GOOD_ID,
				   '/Store/GoodsDetail/' + CAST(i.GOOD_ID AS varchar(20)) AS URL,
				   GETDATE() AS [TIME]
			FROM inserted i
				LEFT JOIN dbo.GOOD g 
					ON i.GOOD_ID = g.GOOD_ID
		END
END