USE [GIFU]
GO
/****** Object:  Trigger [dbo].[GOOD_TRIGGER]    Script Date: 2017/10/14 下午 03:10:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[GOOD_TRIGGER] ON [dbo].[GOOD]
AFTER INSERT
AS 
DECLARE @USER_ID int
SET @USER_ID = (SELECT [USER_ID] FROM inserted)
print @USER_ID
BEGIN
	IF EXISTS (SELECT 1 FROM inserted) AND NOT EXISTS (SELECT 1 FROM deleted)
		BEGIN
			--SET NOCOUNT ON
			--新增商品時Account.Provide_count自動累加
			UPDATE dbo.ACCOUNT SET PROVIDE_COUNT = (PROVIDE_COUNT + 1) WHERE [USER_ID] = @USER_ID
		END
END