
@{
    ViewBag.Title = "GoodsSearch";
}

<div class="content">
    <div class="product-model">
        <div class="container">
            <div class="innerPageSearch">
                <div class="input-group">
                    <div class="input-group-btn">
                        <select name="innerPageSearchTag" class="btn btn-info innerPageSearchTag" id="innerPageSearchTag">
                            <option value="" id="optionTag1">全部商品</option>
                            <option value="3C" id="optionTag13C">3C用品</option>
                            <option value="GC" id="optionTag1GC">生活雜貨</option>
                            <option value="CL" id="optionTag1CL">男女服飾</option>
                            <option value="SN" id="optionTag1SN">文具書籍</option>
                            <option value="GM" id="optionTag1GM">電玩相關</option>
                            <option value="OT" id="optionTag1OT">其他</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" id="innerSearchText">
                    <input type="button" class="btn btn-light innerSearchButton" onclick="SetSearchArg($('#innerSearchText').val(), $('#innerPageSearchTag').val(), '')" value="Search">
                </div>
            </div>
            <h2>Our Products</h2>
            <div class="col-md-9 product-model-sec" id="container">
            </div>
            <div class="col-md-9 product-model-sec" id="loadingImageArea">
            </div>
            <div class="rsidebar span_1_of_left">
                <section class="sky-form">
                    <div class="product_right">
                        <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
                        <div class="tab" id="tag1">
                            <ul class="place">
                                <li class="sort">3C用品</li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="single-bottom">
                                <a href="#" onclick="SetSearchArg('', '3C', '1')"><p>電腦</p></a>
                                <a href="#" onclick="SetSearchArg('', '3C', '2')"><p>手機</p></a>
                                <a href="#" onclick="SetSearchArg('', '3C', '3')"><p>相機</p></a>
                                <a href="#" onclick="SetSearchArg('', '3C', '4')"><p>3C其他</p></a>
                            </div>
                        </div>
                        <div class="tab" id="tag2">
                            <ul class="place">
                                <li class="sort">生活雜貨</li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="single-bottom">
                                <a href="#" onclick="SetSearchArg('', 'GC', '1')"><p>五金工具</p></a>
                                <a href="#" onclick="SetSearchArg('', 'GC', '2')"><p>食品</p></a>
                                <a href="#" onclick="SetSearchArg('', 'GC', '3')"><p>寵物用品</p></a>
                                <a href="#" onclick="SetSearchArg('', 'GC', '4')"><p>生活其他</p></a>
                            </div>
                        </div>
                        <div class="tab" id="tag3">
                            <ul class="place">
                                <li class="sort">男女服飾</li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="single-bottom">
                                <a href="#" onclick="SetSearchArg('', 'CL', '1')"><p>男裝</p></a>
                                <a href="#" onclick="SetSearchArg('', 'CL', '2')"><p>女裝</p></a>
                                <a href="#" onclick="SetSearchArg('', 'CL', '3')"><p>配件</p></a>
                            </div>
                        </div>
                        <div class="tab" id="tag4">
                            <ul class="place">
                                <li class="sort">文具書籍</li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="single-bottom">
                                <a href="#" onclick="SetSearchArg('', 'SN', '1')"><p>小說</p></a>
                                <a href="#" onclick="SetSearchArg('', 'SN', '2')"><p>漫畫</p></a>
                                <a href="#" onclick="SetSearchArg('', 'SN', '3')"><p>雜誌</p></a>
                                <a href="#" onclick="SetSearchArg('', 'SN', '4')"><p>其他</p></a>
                            </div>
                        </div>
                        <div class="tab" id="tag5">
                            <ul class="place">
                                <li class="sort">電玩相關</li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="single-bottom">
                                <a href="#" onclick="SetSearchArg('', 'GM', '1')"><p>遊戲機</p></a>
                                <a href="#" onclick="SetSearchArg('', 'GM', '2')"><p>遊戲光碟</p></a>
                                <a href="#" onclick="SetSearchArg('', 'GM', '3')"><p>電玩攻略</p></a>
                                <a href="#" onclick="SetSearchArg('','GM','4')"><p>電玩其他</p></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //檢查網址資訊
        CheckHrefInfomation();
        //調整商品圖案高度
        ResizeGoodsImageHeight();
    });

    //檢查網址資訊
    function CheckHrefInfomation() {
        if (location.href.split("?").length == 3) {
            HandleHrefTag2(location.href.split("?")[1], location.href.split("?")[2]);
        }
        else if (location.href.split("?").length == 2) {
            HandleHrefSearchOrTag1(location.href.split("?")[1]);
        }
        else {
            SetSearchArg('', '', '');
            $('#innerPageSearchTag option').removeAttr('selected');
            $('#innerPageSearchTag option:eq(0)').attr("selected", "");
        }
        window.history.pushState({},0,location.href.split("?")[0]);
    }

    //處理網址還有有Tag2的資訊
    function HandleHrefTag2(tag1, tag2) {
        var tag1Value = tag1.split("=")[1];
        var tag2Value = tag2.split("=")[1];
        console.log(tag1Value + ',' + tag2Value);
        SetSearchArg('', tag1Value, tag2Value);
        $('#innerPageSearchTag option').removeAttr('selected');
        $('#optionTag1' + tag1Value).attr("selected", "");
    }

    //處理網址只有Search或Tag1
    function HandleHrefSearchOrTag1(tag1OrTitle) {
        var value = tag1OrTitle.split("=")[1];
        tag1OrTitle = tag1OrTitle.split("=")[0];
        if (tag1OrTitle == 'tag1') {
            SetSearchArg('', value, '');
            $('#innerPageSearchTag option').removeAttr('selected');
            $('#optionTag1' + value).attr("selected", "");
        }
        if (tag1OrTitle == 'search') {
            SetSearchArg(decodeURI(value), '', '');
            console.log(decodeURI(value));
            $('#innerPageSearchTag option').removeAttr('selected');
            $('#optionTag1').attr("selected", "");

        }
    }

    //網頁滾動事件處理  載入更多商品
    $(window).scroll(function () {
        var goodsColumeNumber = parseInt(($('.product-model-sec').width() / $('.product-grid').outerWidth()));
        var windowBottomPosition = (window.pageYOffset + $(window).height());
        if (windowBottomPosition > $('.header').height() + ($('.product-grid').outerHeight() * (totalGoodsNumber / goodsColumeNumber)) && !$("#loading-img")[0] && !isGoodsListBottom && waittime == 2) {
            $('#loadingImageArea').append(
                '<div class="loading-img" id="loading-img">' +
                '<img src="../images/magnify.gif" id="loading_img" style="margin: 0 calc((100% - 150px)/2);">' +
                '</div>'
            );
            AnimateLoadingImage();
        }
    });


    //搜尋Gif圖動畫
    var waittime = 2;
    function AnimateLoadingImage() {
        waittime -= 1;
        if (waittime == 0) {
            $("#loading-img").remove();
            SetSearchArgNextNO(nextNumber);
            waittime = 2;
            return;
        }
        setTimeout("AnimateLoadingImage()", 1000);
    }

    //網頁寬度改變觸發事件 ResizeGoodsImageHeight實作
    window.addEventListener("resize", ResizeGoodsImageHeight);

    //調整商品圖案高度
    function ResizeGoodsImageHeight() {
        var newimgheight = $('.product-img img').width() * 4 / 3;
        $('.product-img img').height(newimgheight);
    };

    var totalGoodsNumber = 0, nextNumber = 6;
    var isGoodsListBottom = false;
    var goodsHTMLStringStream;
    var searchArg = {
        Title: "",
        Tag1: "",
        Tag2: "",
        Offset: 0,
        NextNo: 6
    };

    //清空商品區所有商品
    function ClearGoodsAreaContent() {
        $('#container').empty();
    };

    //設定SearchArg需要的Data
    function SetSearchArg(title, tag1, tag2) {
        totalGoodsNumber = 0;
        isGoodsListBottom = false;
        ClearGoodsAreaContent();
        searchArg.Title = title;
        searchArg.Tag1 = tag1;
        searchArg.Tag2 = tag2;
        searchArg.Offset = totalGoodsNumber;
        searchArg.NextNo = nextNumber;
        SearchAppend();
        $('#innerSearchText').val("");
    }

    //下拉網頁動態抓取後NextNO個Goods
    function SetSearchArgNextNO(nextNO) {
        searchArg.Offset = totalGoodsNumber;
        searchArg.NextNo = nextNO;
        SearchAppend();
    }

    //送Ajax從後端撈Goods資料
    function SearchAppend() {
        var nowNextNO = 0;
        goodsHTMLStringStream = "";
        $.ajax({
            type: "POST",
            url: "/Store/GetGoodsByConditions",
            data: searchArg,
            dataType: "json",
            success: function (result) {
                $.each(result, function (index, object) {
                    goodsHTMLStringStream = goodsHTMLStringStream + GetGoodsBox(object);
                    totalGoodsNumber++;
                    nowNextNO++;
                });
                if (nowNextNO != nextNumber)
                    isGoodsListBottom = true;
                $('#container').append(goodsHTMLStringStream);
                ResizeGoodsImageHeight();
            },
            beforeSend: function () {

            },
            complete: function () {

            },
            fail: function (error) {
                console.log(error);
            }
        });
    }

    //塞後端商品資訊進HTML
    function GetGoodsBox(object) {
        var box ='<div class="product-grid">' +
                    '<a href="../Store/GoodsDetail/' + object.GoodId + '" onclick="AddHitCount(' + object.GoodId + ')">' +
                        '<div class="more-product"><span> </span></div>' +
                        '<div class="product-img b-link-stripe b-animate-go  thickbox">' +
                            '<img src="' + object.PicPath + '" class="img-responsive" alt="">' +
                            '<div class="b-wrapper">' +
                                '<h4 class="b-animate b-from-left  b-delay03">' +
                                    '<button><span class="glyphicon glyphicon-zoom-in"></span></button>' +
                                '</h4>' +
                            '</div>' +
                        '</div>' +
                    '</a>' +
                    '<div class="product-info simpleCart_shelfItem">' +
                    '<div class="product-info-cust prt_name">' +
                            '<span class="item_tag">' + object.Tag1 +'</span>' +
                            '<span class="item_price">' + object.Title + '</span>' +
                            '<div class="ofr">' +
                                '<p class="pric1">' + object.NewDegree + '成新</p>' +
                                '<p class="disc">' + object.UpdateDate + '</p>' +
                            '</div>' +
                            '<div class="clearfix"> </div>' +
                        '</div>' +
                    '</div>' +
                '</div>';
        return box;
    }

    //送Ajax處理點擊商品後增加該商品點擊次數
    function AddHitCount(goodsId) {
        $.ajax({
            type: "POST",
            url: "/Store/AddHitCount",
            data: {GoodId:goodsId},
            dataType: "json",
            success: function (result) {

            },
            fail: function (error) {
                console.log(error);
            }
        });
    }

    //Tag1目錄下拉事件
    $(".tab ul").click(function () {
        event.stopPropagation();
        if ($(this).css("background-color") == 'rgb(249, 249, 249)')
            $(this).css("background-color", "#e5e5e5");
        else
            $(this).css("background-color", "rgb(249, 249, 249)");
        ResetTagIndexUL($(this).parent().attr('id'));
        $(this).parent().find('.single-bottom').slideToggle(300);
    });

    //Tag2點選後重置Tag1目錄
    $(".tab .single-bottom a").click(function () {
        $(this).parent().slideUp();
        $(this).parent().parent().find('ul').css("background-color", "rgb(249, 249, 249)");
    });

    //重置Tag(Index)目錄
    function ResetTagIndexUL(index) {
        console.log(index);
        for (i = 1; i <= 5; i++) {
            if (index != ('tag' + i)) {
                $('#tag' + i + ' ul').css("background-color", "rgb(249, 249, 249)");
                $('#tag' + i + ' .single-bottom').slideUp();
            }
        }
    }

    //點選空白處收起Tag1目錄
    document.addEventListener('click', function (ev) {
        $('.tab ul').css("background-color", "rgb(249, 249, 249)");
        $('.tab .single-bottom').slideUp();
    });

</script>

