
@{
    ViewBag.Title = "GoodsSearch";
}

<div class="content">
    <div class="product-model">
        <div class="container">
            <h2>Our Products</h2>
            <div class="col-md-9 product-model-sec" id="container">
                <img src="../images/magnify.gif" id="loading_img">
                <div class="product-grid">
                    <a href="../Store/GoodsDetail">
                        <div class="product-img b-link-stripe b-animate-go  thickbox">
                            <img src="../images/1/1.jpg" class="img-responsive" alt="">
                            <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">
                                    <button><span class="glyphicon glyphicon-zoom-in"></span></button>
                                </h4>
                            </div>
                        </div>
                    </a>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <span class="item_tag">3C</span>
                            <span class="item_price">SEIKO 潛水手錶</span>
                            <div class="ofr">
                                <p class="pric1">五成新</p>
                                <p class="disc">2017-9-19</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="product-grid">
                    <a href="single.html">
                        <div class="product-img b-link-stripe b-animate-go  thickbox">
                            <img src="../images/m1.jpg" class="img-responsive" alt="">
                            <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">
                                    <button><span class="glyphicon glyphicon-zoom-in"></span></button>
                                </h4>
                            </div>
                        </div>
                    </a>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <span class="item_tag">3C</span>
                            <span class="item_price">SEIKO 潛水手錶</span>
                            <div class="ofr">
                                <p class="pric1">五成新</p>
                                <p class="disc">2017-9-19</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="product-grid">
                    <a href="single.html">
                        <div class="product-img b-link-stripe b-animate-go  thickbox">
                            <img src="../images/m1.jpg" class="img-responsive" alt="">
                            <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">
                                    <button><span class="glyphicon glyphicon-zoom-in"></span></button>
                                </h4>
                            </div>
                        </div>
                    </a>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <span class="item_tag">3C</span>
                            <span class="item_price">SEIKO 潛水手錶</span>
                            <div class="ofr">
                                <p class="pric1">五成新</p>
                                <p class="disc">2017-9-19</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rsidebar span_1_of_left">
                <section class="sky-form">
                    <div class="product_right">
                        <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
                        <div class="tab1">
                            <ul class="place">
                                <li class="sort" onclick="SetSearchArg('','3C','')">3C用品</li>
                                <li class="by"><img src="../images/do.png" alt=""></li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="single-bottom">
                                <a href="#" onclick="SetSearchArg('','3C','1')"><p>電腦</p></a>
                                <a href="#" onclick="SetSearchArg('','3C','2')"><p>手機</p></a>
                                <a href="#" onclick="SetSearchArg('','3C','3')"><p>相機</p></a>
                                <a href="#" onclick="SetSearchArg('','3C','4')"><p>3C其他</p></a>
                            </div>
                        </div>
                        <div class="tab2">
                            <ul class="place">
                                <li class="sort" onclick="SetSearchArg('','GC','')">生活雜貨</li>
                                <li class="by"><img src="../images/do.png" alt=""></li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="single-bottom">
                                <a href="#" onclick="SetSearchArg('','GC','1')"><p>五金工具</p></a>
                                <a href="#" onclick="SetSearchArg('','GC','2')"><p>食品</p></a>
                                <a href="#" onclick="SetSearchArg('','GC','3')"><p>寵物用品</p></a>
                                <a href="#" onclick="SetSearchArg('','GC','4')"><p>生活其他</p></a>
                            </div>
                        </div>
                        <div class="tab3">
                            <ul class="place">
                                <li class="sort" onclick="SetSearchArg('','CL','')">男女服飾</li>
                                <li class="by"><img src="../images/do.png" alt=""></li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="single-bottom">
                                <a href="#" onclick="SetSearchArg('','CL','1')"><p>男裝</p></a>
                                <a href="#" onclick="SetSearchArg('','CL','2')"><p>女裝</p></a>
                                <a href="#" onclick="SetSearchArg('','CL','3')"><p>配件</p></a>
                            </div>
                        </div>
                        <div class="tab4">
                            <ul class="place">
                                <li class="sort" onclick="SetSearchArg('','SN','')">文具書籍</li>
                                <li class="by"><img src="../images/do.png" alt=""></li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="single-bottom">
                                <a href="#" onclick="SetSearchArg('','SN','1')"><p>小說</p></a>
                                <a href="#" onclick="SetSearchArg('','SN','2')"><p>漫畫</p></a>
                                <a href="#" onclick="SetSearchArg('','SN','3')"><p>雜誌</p></a>
                                <a href="#" onclick="SetSearchArg('','SN','4')"><p>其他</p></a>
                            </div>
                        </div>
                        <div class="tab5">
                            <ul class="place">
                                <li class="sort" onclick="SetSearchArg('','GM','')">電玩相關</li>
                                <li class="by"><img src="../images/do.png" alt=""></li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="single-bottom">
                                <a href="#" onclick="SetSearchArg('','GM','1')"><p>遊戲機</p></a>
                                <a href="#" onclick="SetSearchArg('','GM','2')"><p>遊戲光碟</p></a>
                                <a href="#" onclick="SetSearchArg('','GM','3')"><p>電玩攻略</p></a>
                                <a href="#" onclick="SetSearchArg('','GM','4')"><p>電玩其他</p></a>
                            </div>
                        </div>
                        <div class="tab6">
                            <ul class="place">
                                <li class="sort" onclick="SetSearchArg('','OT','')">其他</li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                    <script>
							$(document).ready(function(){
								$(".tab1 .single-bottom").hide();
								$(".tab2 .single-bottom").hide();
								$(".tab3 .single-bottom").hide();
								$(".tab4 .single-bottom").hide();
								$(".tab5 .single-bottom").hide();

								$(".tab1 ul .by").click(function () {
								    if ($(".tab1 ul").css("background-color") == 'rgb(249, 249, 249)') {
								        $(".tab1 ul").css("background-color", "#e5e5e5");
								    }
								    else {
								        $(".tab1 ul").css("background-color", "rgb(249, 249, 249)");
								    }
								    $(".tab2 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab3 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab4 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab5 ul").css("background-color", "rgb(249, 249, 249)");
									$(".tab1 .single-bottom").slideToggle(300);
									$(".tab2 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
								})
								$(".tab2 ul .by").click(function () {
								    if ($(".tab2 ul").css("background-color") == 'rgb(249, 249, 249)') {
								        $(".tab2 ul").css("background-color", "#e5e5e5");
								    }
								    else
								    {
								        $(".tab2 ul").css("background-color", "rgb(249, 249, 249)");
								    }
								    $(".tab1 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab3 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab4 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab5 ul").css("background-color", "rgb(249, 249, 249)");
									$(".tab2 .single-bottom").slideToggle(300);
									$(".tab1 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
								})
								$(".tab3 ul .by").click(function () {
								    if ($(".tab3 ul").css("background-color") == 'rgb(249, 249, 249)') {
								        $(".tab3 ul").css("background-color", "#e5e5e5");
								    }
								    else {
								        $(".tab3 ul").css("background-color", "rgb(249, 249, 249)");
								    }
								    $(".tab1 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab2 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab4 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab5 ul").css("background-color", "rgb(249, 249, 249)");
									$(".tab3 .single-bottom").slideToggle(300);
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})
								$(".tab4 ul .by").click(function () {
								    if ($(".tab4 ul").css("background-color") == 'rgb(249, 249, 249)') {
								        $(".tab4 ul").css("background-color", "#e5e5e5");
								    }
								    else {
								        $(".tab4 ul").css("background-color", "rgb(249, 249, 249)");
								    }
								    $(".tab1 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab2 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab3 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab5 ul").css("background-color", "rgb(249, 249, 249)");
									$(".tab4 .single-bottom").slideToggle(300);
									$(".tab5 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})
								$(".tab5 ul .by").click(function () {
								    if ($(".tab5 ul").css("background-color") == 'rgb(249, 249, 249)') {
								        $(".tab5 ul").css("background-color", "#e5e5e5");
								    }
								    else {
								        $(".tab5 ul").css("background-color", "rgb(249, 249, 249)");
								    }
								    $(".tab1 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab2 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab3 ul").css("background-color", "rgb(249, 249, 249)");
								    $(".tab4 ul").css("background-color", "rgb(249, 249, 249)");
									$(".tab5 .single-bottom").slideToggle(300);
									$(".tab4 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})
								$(".tab6 ul .by").click(function () {
								    $(".tab5 .single-bottom").hide();
								    $(".tab4 .single-bottom").hide();
								    $(".tab3 .single-bottom").hide();
								    $(".tab2 .single-bottom").hide();
								    $(".tab1 .single-bottom").hide();
								})
								$(".tab1 .single-bottom a").click(function () {
								    $(".tab1 .single-bottom").slideUp();
								    $(".tab1 ul").css("border", "none");
								})
								$(".tab2 .single-bottom a").click(function () {
								    $(".tab2 .single-bottom").slideUp();
								    $(".tab2 ul").css("border", "none");
								})
								$(".tab3 .single-bottom a").click(function () {
								    $(".tab3 .single-bottom").slideUp();
								    $(".tab3 ul").css("border", "none");
								})
								$(".tab4 .single-bottom a").click(function () {
								    $(".tab4 .single-bottom").slideUp();
								    $(".tab4 ul").css("border", "none");
								})
								$(".tab5 .single-bottom a").click(function () {
								    $(".tab5 .single-bottom").slideUp();
								    $(".tab5 ul").css("border", "none");
								})
							});
                    </script>
                </section>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        SetSearchArg('', '3C', '');
    });

    function cleartcontent() {
        console.log("clear");
        $('#container').empty();
    };
    window.addEventListener("resize", calcimgheight);
    function calcimgheight() {
        var newimgheight = $('.product-img img').width() * 4 / 3;
        $('.product-img img').height(newimgheight);
        console.log("!!");
    };

    var searchArg = {
        Title: "",
        Tag1: "",
        Tag2: "",
        Offset: 0,
        NextNo: 3
    };

    function SetSearchArg(title, tag1, tag2, offset, nextNO) {
        cleartcontent();
        searchArg.Title = title;
        searchArg.Tag1 = tag1;
        searchArg.Tag2 = tag2;
        //searchArg.Offset = offset;
        //searchArg.NextNo = nextNO;
        SearchAppend();
        goodsNumber += nextNo;
    }

    function SearchAppend(){
        $.ajax({
            type: "POST",
            url: "/Store/GetGoodsByConditions",
            data: searchArg,
            dataType: "json",
            success: function (result) {
                $('#container').append(
                    '<div class="loading-img">'+
                    '<img src="../images/magnify.gif" id="loading_img" style="margin: 0 calc((100% - 150px)/2);">' +
                    '</div>'
                );
                $.each(result, function (index, object) {
                    $('#container').append(GetGoodsBox(object));
                    calcimgheight();
                });
            },
            beforeSend: function () {

            },
            complete: function () {

            },
            fail: function (error) {
                console.log(error);
            }
        });
    }

    function GetGoodsBox(object) {
        var box ='<div class="product-grid">' +
                    '<a href="../Store/GoodsDetail">' +
                        '<div class="more-product"><span> </span></div>' +
                        '<div class="product-img b-link-stripe b-animate-go  thickbox">' +
                            '<img src="' + object.PicPath + '" class="img-responsive" alt="">' +
                            '<div class="b-wrapper">' +
                                '<h4 class="b-animate b-from-left  b-delay03">' +
                                    '<button><span class="glyphicon glyphicon-zoom-in"></span></button>' +
                                '</h4>' +
                            '</div>' +
                        '</div>' +
                    '</a>' +
                    '<div class="product-info simpleCart_shelfItem">' +
                        '<div class="product-info-cust prt_name">' +
                            '<span class="item_tag">' + object.Tag2 +'</span>' +
                            '<span class="item_price">' + object.Title + '</span>' +
                            '<div class="ofr">' +
                                '<p class="pric1">' + object.NewDegree +'成新</p>' +
                                '<p class="disc">' + object.UpdateDate +'</p>' +
                            '</div>' +
                            '<div class="clearfix"> </div>' +
                        '</div>' +
                    '</div>' +
                '</div>';
        return box;
    }

</script>

