
@{
    ViewBag.Title = "Index";
}

<h2>Store Index</h2>
<a href="/Account/Signout">登出</a>
<button type="button" id="getGoods">取得物品明細</button>
<div id="show"></div>

<script type='text/javascript'>
    $("#getGoods").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/Store/GetGoodsByConditions",
            data: { Title: "Book" },
            dataType: "json",
            success: function (response) {
                $.each(response, function (index, value) {
                    $('#show').append('<p>'+value.PicPath+'</p>');
                    $('#show').append('<img src="' + value.PicPath + '" style="width:100px;"/>');
                });
            }, error: function (error) {
                alert("系統發生錯誤");
            }
        });
    });
    
</script>